.row-header{
    margin:0px auto;
    padding:0px;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #4682B4;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    background-image: url("../img/banner.png");
    background-color: rgba(0, 84, 150, 1.0);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    padding: 70px 30px;
    color: floralwhite; }

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background:#4682B4;
}

.carousel-item {
  height: 300px;
  transition: 0.3s;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
   
   
}

.carousel-caption {
    transform: translate(50px,-50px);
    bottom: 0;
    top: 50%; 
}

#carouselAgro .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselAgro .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselRenova .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselRenova .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselAtendI .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselAtendI .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselCafe .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselCafe .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselDestinos .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselDestinos .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselCidade .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselCidade .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselNegocio .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselNegocio .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselSaude .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselSaude .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselAgroChapada .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselAgroChapada .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}

#carouselAtendS .carousel-caption h5 {
    background-color: rgba(25, 135, 84, 0.7);
    margin: 0 auto;
    
}

#carouselAtendS .carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 10%;
    
}


.card {
 margin: 20px;
}

.card-title{
    font-size: larger;
}

.btn-primary {
    background:#4682B4;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.modal-title {
    background-color:rgba(25, 135, 84, 0.3);
}

